<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="main.js" defer></script>
    </head>
    <body>
        <h1>Tea Database</h1>
        <ul class="teas">
            <% for(key in teainfo) {%>
                <li class="tea">
                    <img src="<%- JSON.stringify(teainfo[key].image) %>" alt="image">
                    <!-- <span>Name: <%- JSON.stringify(teainfo.key) %></span> -->
                    <span>Origin: <%- JSON.stringify(teainfo[key].Origin) %></span>
                    <span>Caffeine Content Levels: <%- JSON.stringify(teainfo[key].Caffeine) %></span>
                    <span>Color: <%- JSON.stringify(teainfo[key].Color) %></span>
                </li>
            <% } %>
        </ul>
    </body>
</html>