<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/style.css">
        <script type="text/javascript" src="/main.js" defer></script>
    </head>
    <body>
        <h1>Tea Database</h1>
        <ul class="teas">
            <% if(!teainfo.types){ %>
                <% for(key in teainfo) {%>
                    <% if(key !== 'unknown') {%>
                        <li class="tea">
                            <img src="<%= teainfo[key].image %>" alt="image">
                            <span>Name: <%= teainfo[key].name %></span>
                            <span>Origin: <%= teainfo[key].origin %></span>
                            <span>Caffeine Content Levels: <%= teainfo[key].caffeine %></span>
                            <span>Color: <%= teainfo[key].colorDescription %></span>
                        </li>
                    <% } %>
                <% } %>
            <% }else {%>
                <% for(key in teainfo.types) {%>
                    <% if(key !== 'unknown') {%>
                        <li class="tea">
                            <img src="<%= teainfo.types[key].image %>" alt="image">
                            <span>Name: <%= teainfo.types[key].name %></span>
                            <span>Origin: <%= teainfo.types[key].origin %></span>
                            <span>Caffeine Content Levels: <%= teainfo.types[key].caffeine %></span>
                            <span>Color: <%= teainfo.types[key].colorDescription %></span>
                        </li>
                    <% } %>
                <% } %>
            <% } %>
        </ul>
    </body>
</html>