<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/reset.css">
        <script type="text/javascript" src="/main.js" defer></script>
    </head>
    <body id="ejsBody">
        <header id="header">
            <h1>Tea Database</h1>
            <span><a href="/">return to menu</a></span>
        </header>
        <ul id="teas">
            <% if(!teainfo.types){ %>
                <% for(key in teainfo) {%>
                    <% if(key !== 'unknown') {%>
                        <li class="teaContainer">
                            <img src="<%= teainfo[key].image %>" alt="image">
                            <div>
                                <div>
                                    <span>Name: <%= teainfo[key].name %></span>
                                    <span>Alt: <%= teainfo[key].altnames %></span>
                                </div>
                                <div>
                                    <span>Origin: <%= teainfo[key].origin %></span>
                                    <span>Caffeine Levels: <%= teainfo[key].caffeineLevel %></span>
                                </div>
                            </div>

                            <div>
                                <span>Color: <%= teainfo[key].colorDescription %></span>
                                <span>Taste: <%= teainfo[key].tasteDescription %></span>
                            </div>
                        </li>
                    <% } %>
                <% } %>
            <% }else {%>
                <% var typesArr = Object.keys(teainfo.types) %>
                <% for(var i = 0; i < typesArr.length; i++) {%>
                    <% if(typesArr[i] !== 'unknown') {%>
                        <li id="container-<%=i%>" class="teaContainer hidden">
                            <span class="name bold"><%= teainfo.types[typesArr[i]].name %></span>
                            <% if(teainfo.types[typesArr[i]].altnames !== '') {%>
                                <span class="alt"><span class="bold">Alt: </span><%= teainfo.types[typesArr[i]].altnames %></span>
                            <% }else { %>
                                <span class="alt"><span class="bold">Alt: </span>none</span>
                            <% } %>
                            <img src="<%= teainfo.types[typesArr[i]].image %>" alt="image">
                            <div class="immediateInfo">
                                <span><span class="bold">Type: </span><%= teainfo.types[typesArr[i]].type %></span>
                                <span><span class="bold">Origin: </span><%= teainfo.types[typesArr[i]].origin %></span>
                                <span><span class="bold">Caffeine Levels: </span><%= teainfo.types[typesArr[i]].caffeineLevel %></span>
                            </div>
                            <div class="colorTaste">
                                <span><span class="bold">Color: </span><%= teainfo.types[typesArr[i]].colorDescription %></span>
                                <span><span class="bold">Taste: </span><%= teainfo.types[typesArr[i]].tasteDescription %></span>
                            </div>
                        </li>
                    <% } %>
                <% } %>
            <% } %>
        </ul>
        <span id="buttonBack">BACK</span>
        <span id="buttonNext">NEXT</span>
        <!-- <footer id="footer">

        </footer> -->
    </body>
</html>