<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= teainfo.name %></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/reset.css">
        <script type="text/javascript" src="scripts/teas.js" defer></script>
    </head>
    <body id="teasBody">
        <img id="bg" src="/imgs/bg2_lowres.jpg" alt="bg">
        <section id="header">
            <h1><%= teainfo.name ? teainfo.name.split(' ')[0].toLowerCase() + " tea's": "blends" %></h1>
            <span id="return"><a href="/">return</a></span>
        </section>
        <ul id="teas">
            <% console.log(teainfo[0].types) %> 
            <% if(!teainfo[0].types){ %>
                <% for(key in teainfo[0].types) {%>
                    <% if(key !== 'unknown') {%>
                        <li class="teaContainer hidden">
                            <div class="names">
                                <span class="name bold"><%= teainfo[0].types[key].name %></span>
                                <% if(teainfo[0].types[key].altnames !== '') {%>
                                    <span class="alt"><span class="bold">Alt: </span><%= teainfo[0].types[key].altnames %></span>
                                <% }else { %>
                                    <span class="alt"><span class="bold">Alt: </span>none</span>
                                <% } %>
                            </div>
                            <img src="<%= teainfo[0].types[key].image %>" alt="image" class="tc_image">
                            <div class="immediateInfo">
                                <!-- <span><span class="bold">Type: </span><%# teainfo.types[typesArr[i]].type %></span> -->
                                <span><%= teainfo[0].types[key].origin %></span>
                                <span><%= teainfo[0].types[key].caffeineLevel %> caffeine level</span>
                                <div class="colorTaste">
                                    <div class="infoDiv">
                                        <span class="label">Taste</span>
                                        <span><%= teainfo[0].types[key].tasteDescription %></span>
                                    </div>
                                    <div class="infoDiv">
                                        <span class="label">Color</span>
                                        <span><%= teainfo[0].types[key].colorDescription %></span>
                                    </div>
                                </div>
                            </div>
                            
                        </li>
                    <% } %>
                <% } %>
            <% }else {%>
                <% var typesArr = Object.keys(teainfo[0].types) %>
                <% for(var i = 0; i < typesArr.length; i++) {%>
                    <% if(typesArr[i] !== 'unknown') {%>
                        <li id="container-<%=i%>" class="teaContainer hidden">
                            <div class="names">
                                <span class="name bold"><%= teainfo[0].types[typesArr[i]].name %></span>
                                <% if(teainfo[0].types[typesArr[i]].altnames !== '') {%>
                                    <span class="alt"><span class="bold">Alt: </span><%= teainfo[0].types[typesArr[i]].altnames %></span>
                                <% }else { %>
                                    <span class="alt"><span class="bold">Alt: </span>none</span>
                                <% } %>
                            </div>
                            <img src="<%= teainfo[0].types[typesArr[i]].image %>" alt="image" class="tc_image">
                            <div class="immediateInfo">
                                <!-- <span><span class="bold">Type: </span><%# teainfo.types[typesArr[i]].type %></span> -->
                                <span><%= teainfo[0].types[typesArr[i]].origin %></span>
                                <span><%= teainfo[0].types[typesArr[i]].caffeineLevel %> caffeine level</span>
                                <div class="colorTaste">
                                    <div class="infoDiv firstInfo">
                                        <span class="label">Taste</span>
                                        <span><%= teainfo[0].types[typesArr[i]].tasteDescription %></span>
                                    </div>
                                    <div class="infoDiv">
                                        <span class="label">Color</span>
                                        <span><%= teainfo[0].types[typesArr[i]].colorDescription %></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                <% } %>
            <% } %>
        </ul>
        <section id="buttons">
            <span id="buttonBack" class="cont_button">BACK</span>
            <span id="count"><span id="dataCount">0</span>/<%= teainfo[0].types ? Object.keys(teainfo[0].types).length + 1: Object.keys(teainfo).length + 1 %></span>
            <span id="buttonNext" class="cont_button">NEXT</span>
        </section>
    </body>
</html>